.sub-container3 {
  display: flex;
  justify-content: center;
}
.subsub-c3 {
  /* border: 1px solid; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  
}
.subsub-cs1 {
  margin: 10px;
}

.subsub-cs1 input {
  padding: 0px 5px 0px 5px;
  width: 218px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  appearance: none;
  cursor: pointer;
}

.subsub-cs2 button {
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: none;
  color: white;
  border: none;
  border-radius: 1rem;
  background-color: #1db9ef;
  align-items: center;
  margin-top: 100%;
  margin-left: 20%;
  margin-bottom: 10%;
  padding: 10px;
  
}

.subsub-cs2 button:hover {
  background-color: #0074e0;
}

.downloadFail{
  color: red;
  font-weight: 600;
}
.downloadSuccess{
  color: rgb(4, 82, 4);
  font-weight: 600;
}
.downloading{
  color: orange;
  font-weight: 600;
}
